.jobs__content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(7 7 7);
    padding: 45px;
    box-sizing: border-box;
    border: 1px solid #eeeeee1c;
}