.player_container{
    width: 90%;
    height:  580px  ;
    position : relative ;
  
 }


.btn_playvideo{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0 auto;
    border: none;
}

.dark__layer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.419);
    position: absolute;
    top:0;
    left: 0;
}

.dark__layer button{
    cursor: pointer;
    color:rgb(0, 0, 0);
    font-size: 2rem;
    opacity: .8;
}


.dark__layer button:hover{
    transition: 200ms;
    opacity: 1;
}

.close_btn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
    right: -110px;
    font-weight: 600;    
}

.video_layer{
    position: relative;
    z-index: 9999999999;
}