body{
  background-color: rgb(7 7 7);
  color:#fff ; 
  font-family: 'Jost';
  padding: 0;
  margin: 0;
}

.content_limiter{
  width: 100%;
  max-width: 1170px ;
  margin: 0 auto;
}

/* Button modifications */

.br-2{
  border-radius: 2px !important;
}

.br-3{
  border-radius: 3px !important;
}

.br-4{
  border-radius: 4px !important;
}

.br-5{
  border-radius: 5px !important;
}

.btn-standard{
  width: 120px;
}

.btn-large{
  width: 140px;
}
 
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn span{
 height: auto;
 line-height: 0;
}


.cover_buttons{
  display: flex;
}
.cover_buttons button {
  margin: 0 5px;
}

/* Light button*/
.button__light{
  background-color: #fff;
  color:#000;
  opacity: .9;
}


/* Text input dark */

.input__dark{
  background-color: rgba(0, 0, 0, 0.053);
  color: #fff;
  border-color: rgb(177, 177, 177);
}
.input__dark::placeholder{
  color: rgba(255, 255, 255, 0.752);
}

/* Section text */
.section_heading_text{
  font-size: 2.8rem;
  margin: 0 0 2rem 0;
  text-align: center;
}

.section_description_text{
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

/* Header styles */

.sticky_header_enabled{
  backdrop-filter: blur(8px);
  background: #00000047;
  border-bottom: 1px solid #0000001f;

}


.ant-timeline-item-tail{
  background-color: #ffffff1f;
}



/* Margins */

.mt10{
  margin-top: 10px;
}

.mt30{
  margin-top: 30px;
}

.mt60{
  margin-top: 60px;
}


/* paddings */

.pd-90{
  padding: 90px 0;
}
 

/* divider */

.divider_line{
  width: 100%;
  display: block;
  margin: 90px 0;
  border-top:1px solid #232323
}


/* Inputs */

.input_standard{
  width: 100%;
  padding: 18px 20px;
  font-family: jost;
  color: #fff;
  outline: 0;
  box-sizing: border-box;
  background-color: rgb(13, 13, 13);
  border:2px solid rgb(17, 17, 17);
  margin-bottom:10px
}

.textarea_extra{
  height: 150px;
}

.section__leftTitle{
  width: 100%;
  font-weight:  300!important;
  margin: 60px 0;
  text-align: left;
  position: relative;
}

.section__leftTitle::after{
  content: '';
  width: 85%;
  height: 1px;
  background-color: rgb(50, 50, 50);
  position: absolute;
  right: 0;
  top:25px
}


 

.ant-switch {
  background-color: rgb(28, 28, 28);
}


/* Moile menu */
.mobilemenu__header_btn{
  display: none;
}
.mobileMenu__container{
  display: none;
}